.sidebar-content {
  margin-left: 310px;
  padding: 0 40px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
